<!DOCTYPE html>
<html>

<head>
    <title>Angular Dev</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body ng-app="hi-angular">
    <div id="background">
    <div class="container-fluid" ng-controller="MainController">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <a href="https://github.com/jlwamba/dev-charlie" target="_blank">Link to the Repo</a>
                <text> | </text>
                <a href="/file" target="_blank">This Writing Files to Server</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 id="page-title">Angular Dev-charlie Lab</h1>
                <input ng-model="user.name">
                <input ng-model="user.skills">
                <input ng-model="user.repo">
                <input ng-model="user.github">
                <h3 id="user-greeting">Hello There, {{ user.name }}!!</h3>
                <h3 id="user"> Here is my skills, {{user.skills}}</h3>
            </div>
        </div>
    </div>
    </div>

    <script>
        window.app = angular.module('hi-angular', []);
        app.controller('MainController', function($scope, $http) {
            $scope.user = null;

            $http.get('/user')
                .then(response => {
                    console.log(response.data);
                    $scope.user = response.data;
                });

        });
    </script>



</body>

</html>